numpy==1.26.4
fastapi
uvicorn
pydantic
scipy
mediapipe>=0.10.9,<0.10.30
msvc-runtime;platform_system=='Windows'
open3d
opencv-python
pyvista
imageio
trimesh
retina-face
tensorflow==2.15.1
keras==2.15.0
scikit-image==0.22.0
qdrant-client==1.15.1
protobuf
psutil
single_template_maker_lib @ git+ssh://git@github.com/NeobiotechLabs/Single_template_maker.git
teeth-template-editor @ git+ssh://git@github.com/NeobiotechLabs/TeethTemplateEditor.git@processLeak
